@font-face {
  font-family: "SRRojeeNP";
  src: local("SRRojeeNP"), url("SRRojeeNP.eot?#iefix") format("embedded-opentype"), url("SRRojeeNP.woff") format("woff"), url("SRRojeeNP.ttf") format("truetype"), url("SRRojeeNP.svg#UIDspace-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}